.header{
    background-color:  rgb(1, 1, 102);
    color: white;
    padding: 30px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
    text-align: center;
}
.header-container{
    flex-grow: 1;
}
.header-title{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-subtitle {
  font-size: 1.1rem;
  opacity: 0.9;
  font-weight: 300;
}

.cart-icon-btn{
  border: none;
  background-color: transparent;
  font-size: 1.7rem;
  position: relative;
  color: white;
  cursor: pointer;
}

.cart-badge{
  position: absolute;
  top: -8px;
  right: -8px;
  background: #ff4757;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 16px;

}

@media (max-width: 768px) {
  .header-title {
    font-size: 2rem;
  }
  
  .header-subtitle {
    font-size: 1rem;
  }
}